.icon_symbol_account {
  width: 24px;
  height: 24px;
  background-image: url(../svg/account_icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  display: block;
  fill: black;
}
