.icon_symbol_basket_phone {
  background-image: url(../svg/phone-16.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  margin-top: 7px;
  display: block;
}

