.price {
  padding: 8px 12px;
  width: 100%;
  box-sizing: border-box;
  background-color: #363839;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}


.price__minus,
.price__plus {
  cursor: pointer;
}
