.card_type_map {
  position: relative;
}

.card_type_map .card__header {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.card_type_map .card__header .img {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(mapBanner.jpg);
}

.card_type_map .card__inner {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding: 15px 25px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card_type_map .description__main-info {
  font-size: 18px;
  font-weight: bold;
  max-width: 176px;
  line-height: 22px;
  text-align: left;
  margin: 0;
  margin-bottom: 5px;
}

.card_type_map .description__add-info {
  font-size: 14px;
  font-weight: 100;
  max-width: 176px;
  text-align: left;
}

.card_type_map .card__wrapper {
  border: 5px solid white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}


