.description__amount {
  text-align: center;
  font-weight: normal;
  line-height: 20px;
  font-size: 13px;
}


.card_type_roll .card__header .img {
  display: block;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  background-position: bottom center;
}
