.card_type_special {
  background-color: #F2F2F2;
}

.card_type_special .card__header .image {
  width: 100%;
}


.card_type_special .card__inner {
  box-sizing: border-box;
  padding: 15px 25px;
}

.card_type_special .description__main-info {
  font-size: 18px;
  font-weight: bold;
  max-width: 176px;
  line-height: 22px;
  text-align: left;
  margin: 0;
  margin-bottom: 5px;
}

.card_type_special .description__new-mark {
  display: none;
}

.card_type_special .description__add-info {
  font-size: 14px;
  font-weight: 100;
  max-width: 176px;
  text-align: left;
}

.card_type_special .card__wrapper {
  border: 5px solid white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}
