.product_type_item {
    border: 0;
}

.product_type_item .button__control {
  display: none;
}


.product_type_item .product__close {
  display: none;
}

.product_type_item .product__more {
  display: none;
}

.product_type_item .title {
  font-size: 44px;
}
