.product_type_basket {

}

.product_type_basket .product__image {
  padding: 0;
}

.product_type_basket .product__image .image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.product_type_basket.product {
  background-color: transparent;
  border: none;
  height: auto;
  padding: 0 15px;
}

.product_type_basket .product__info {
  padding: 0;
  height: initial;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product_type_basket .product__description {
  display: flex;
  align-items: center;
}

.product_type_basket .product__info .product__title {
  font-size: 14px;
  padding: initial;
  color: white;
  font-weight: normal;
  max-width: 140px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin-left: 10px;
}

.product_type_basket .product__title .title__name,
.product_type_basket .product__title .button {
  display: inline;
}

.product_type_basket .product__title .button {
  all: initial;
  width: 24px;
  height: 16px;
  cursor: pointer;
  margin-left: 5px;
}

.product_type_basket .product__title .button::before {
  display: none;
}

.basket__item-bill {
  color: white;
  flex: 1;
  text-align: right;
}

.product__short-counter {
  display: none;
}



