block(hero).mod(pattern vip) {
  background: radial-gradient(map(fbs-cabinet, color, cyan_desaturated), map(fbs-cabinet, color, blue_dark));
  background: url(hero_pattern_vip.svg), radial-gradient(map(fbs-cabinet, color, cyan_desaturated), map(fbs-cabinet, color, blue_dark)) center repeat;
  background-size: 50px 50px, 100% 100%
}
