@use postcss-map {
  basePath: "./theme/";
  maps: ["fbs-cabinet.yml"]
}

block(hero).mod(pattern bonus-100) {
  background: svg-load('hero_pattern_bonus-100.svg'),
              radial-gradient(map(fbs-cabinet, color, cyan_desaturated), map(fbs-cabinet, color, blue_dark));
  background-size: 50px, 100%;
}
