@use postcss-map {
  basePath: "./theme/";
  maps: ["fbs-cabinet.yml"]
}

block(user-media).mod(theme fbs-cabinet) {
  padding-left: 1rem;
  background-color: map(fbs-cabinet, color, elephant_dark);
}

