.footer {
display: flex;
flex-direction: column;
width: 100%;
}

hr {
  color: #E6E6E6;
  size: 5px;
  width: 100%;
}

.footer>div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.footer .link {
  text-decoration: none;
  color: #363839;
}

.footer__contacts,
.footer__feedback,
.footer__info {
  display: flex;
  width: 340px;
  align-items: center;
}

.footer__workhours {
  color: #808080;
  font-size: 12px;
}

.footer__contacts .footer__icon,
.footer__feedback .footer__icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.footer__contacts .footer__icon {
  background-image: url(svg/phone_24.svg);
}

.footer__feedback .footer__icon {
  background-image: url(svg/write_us.svg);
}

.link_type_vkontakte .link__icon {
  width: 32px;
  height: 32px;
  background-image: url(svg/vk.svg);
}

.link_type_facebook .link__icon {
  width: 32px;
  height: 32px;
  background-image: url(svg/facebook.svg);
}

.link_type_instagram .link__icon {
  width: 32px;
  height: 32px;
  background-image: url(svg/instagram.svg);
}

.footer__phone {
  margin-right: 15px;
}

.footer__delivery {
  width: 340px;
  align-items: center;
  line-height: 26px;
  text-align: center;
}

.footer__social {
  width: 340px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.footer__social .link__icon {
  display: block;
  -webkit-background-size: cover;
  background-size: cover;
  margin-left: 15px;
  background-repeat: ;
}

.footer__faq {
  flex: 1;
  text-align: center;
}

.footer__copyright {
  color: #808080;
  font-size: 14px;
  margin-right: 15px;
}

.footer__payment_system {
  flex: 1;
  text-align: center;
}

.footer__empty-place,
.footer__site_author {
  width: 340px;
  text-align: right;
  font-size: 14px;
  color: #808080;
}

.footer__site_author .link {
  margin-left: 5px;
}

