@use postcss-map {
  basePath: "./theme/";
  maps: ["fbs-cabinet.yml"]
}

block(radio-group).mod(theme fbs-cabinet) {
  display: flex;

  @each $size in (xs, s, m, l, xl, xxl, xxxl) {
    .mod(size $(size)) {
      font-size: map(fbs-cabinet, font-size, $(size));
    }
  }

  .mod(vertical) {
    flex-direction: column;
  }

  .mod(navbar) {
    block(radio):nth-child(4) {
      margin-top: auto;
    }
  }
}
