.auth_type_logged {

}

.auth__status {
  margin-top: 5px;
}

.auth_type_logged .auth__process {
  background-color: #363839;
  border-radius: 40px;
  width: 190px;
  color: white;
  height: 32px;
  line-height: 25px;
  position: relative;
  padding: 0 5px;
}


.auth_type_logged .auth__process .button__text {
  margin-left: 10px;
}


.auth_type_logged .auth__process::after {
  content: '345';
  width: 40px;
  height: 20px;
  position: absolute;
  border-radius: 40px;
  background-color: white;
  right: 5px;
  margin-top: -10px;
  color: black;
  top: 50%;
  line-height: 22px;
}
