.auth_type_not-logged {

}


 .auth__phone-input,
 .auth__password-input,
 .auth__error-input {
   padding: 10px 35px 38px;
   box-sizing: border-box;
 }


 .auth__resend_password {
   margin: 8px 0 12px ;
   display: inline-block;
   color: #F05565;
   outline: none;
 }


.auth__user {
  margin-top: 20px;
}

.auth__user,
.auth__error {
  margin-bottom: 20px;
}



.popup__error-step .button_disabled {
  margin-top: 50px;
  background-color: #363839;
  opacity: 0.5;
}
