.price_type_basket {
  width: 56px;
  height: 24px;
  padding: 0;
}

.price_type_basket.price {
  background: transparent;
  border: 1px solid rgb(218, 226, 242, 0.2);
}

.price_type_basket .price__quantity::before {
  all: initial;
}


.price_type_basket .price__counter_product {
  padding-top: 0;
}

.price_type_basket .price__minus,
.price_type_basket .price__quantity,
.price_type_basket .price__plus {
  position: relative;
  top: 3px;
}

.price_type_basket .price__quantity {
  padding-top: 0px;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
}

