.price_type_card {
  width: 64px;
  padding: 8px 12px;
  display: flex;
  text-align: center;
}

.price_type_card  {
    margin-left: -32px;
}

.price_type_card:not(.price_pressed):hover {
  background-color: #FF6673;
  transition: 0.2s;
  width: 88px;
  /*margin-left: -44px;*/
  text-align: center;
}

.price_type_card:not(.price_pressed):hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(../../icon/svg/cart-plus.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  right: 12px;
  top: 6px;
}

.price_type_card:not(.price_pressed) .price__button_part_right {
  display: none;
}

/* Нажатый стейт кнопки*/
.price_pressed {
  padding: 0;
  height: 32px;
  min-width: 144px;
  margin-left: -72px;
  background-color: #FF6673;
  transition: 0.2s;
}

.price_type_card.price_pressed .price__button_part_left {
  width: 35%;
  line-height: 32px;
  border-right: 1px solid rgb(255, 255, 255, 0.2);
  padding: 0px 12px;
}

.price_type_card.price_pressed .price__value{
  height: 100%;
  text-align: center;
}

.price_type_card.price_pressed .price__button_part_right  {
  width: 65%;
}

.price_type_card.price_pressed .price__counter {
  display: flex;
  justify-content: space-around;
  padding-top: 3px;
}

.price_type_card.price_pressed .price__quantity {
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 50%;
  cursor: initial;
  line-height: 24px;
  border: 1px solid rgb(255, 255, 255, 0.2);
}


.price_type_card.price_pressed .price__minus,
.price_type_card.price_pressed .price__plus {
  width: 24px;
  height: 24px;
  position: relative;
}
