@use postcss-map {
  basePath: "./theme/";
  maps: ["fbs-cabinet.yml"]
}
@use postcss-custom-media;

block(header).mod(theme fbs-cabinet) {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
  max-width: 100%;
  margin: 0;
  background-color: map(fbs-cabinet, color, elephant_light);
  color: map(fbs-cabinet, color, white);
  overflow: hidden;

  @media(--tablet) {
    height: 100%
  }

  .elem(header) {
    width: 100%
  }

  .elem(content) {
    /* flex: 1; */
    width: 100%;
    max-height: 100%;
    /* overflow: auto; */
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    z-index: 1;

    @media(--tablet) {
      /* height: 100%; */
    }
  }

  .elem(footer) {
    display: block;
    width: 100%;
    padding: .75em;
  }
}
