block(menu) {
  overflow-y: auto;

  .elem(item) {
    touch-action: manipulation;
    box-sizing: border-box
  }

  .elem(group-title) {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
  }
}
