@use postcss-map {
  basePath: "./theme/";
  maps: ["25menu.yml"]
}

@use postcss-custom-media;

.block(tabs).mod(theme 25menu) {
  .elem(tabs-group) {
    font-size: 0
  }

  @each $size in (xs, s, m, l, xl, xxl) {
    .mod(size $size) {
      font-size: map(25menu, font-size, $(size));
    }
  }

  .mod(vertical) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .elem(container) {
      flex: 1;
    }
  }

  .mod(navbar) {
    overflow: auto;
    height: 0;
    transition: height .5s ease-out;

    @media (--tablet) {
      height: calc(100vh - 4rem);
      transition: none;
    }

    .elem(tabs-group) {
      order: 3;
      width: calc( map(25menu, font-size, xl) * 1.5 );
      background-color: map(25menu, color, grey_dark);

      @media (--tablet) {
        order: 1;
      }
    }

    .elem(container) {
      order: 2;
      overflow: auto;
    }

    .block(radio) + .block(radio) {
      border-top: 1px solid transparent;
    }

    .block(button) {
      color: map(25menu, color, white);
      background-color: transparent;

      &:before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #4a565b;
        box-shadow: none;
      }

      &.mod(focused) {
        background-color: map(25menu, color, white);
        box-shadow: inset 0 0 0 1px map(25menu, color, white);

        &:before {
          background-color: map(25menu, color, bermuda_dark);
        }
      }
    }

    &.mod(showed) {
      height: calc(100vh - 5em);
    }
  }
}
