.basket_type_closed {
  padding: 10px 0!important;
  background-color: #F05565;
  min-width: 64px;
  cursor: pointer;
}



.basket_type_closed .basket__cart {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  display: block;
}

.basket_type_closed .basket_type_closed__bill {
  font-weight: bold;
  color: white;
  width: 60px;
  margin: 10px auto 20px;
  text-align: center;
  display: block;
}


.basket_type_closed .close-btn {
  display: none;
}

.basket_type_closed .form__header {
  display: none;
}


.basket_type_closed .form__footer {
  display: none;
}


/* Содержимое корзины */
.basket_type_closed .basket__content {
  background: transparent;
}

.basket_type_closed .basket__is_empty {
  display: none;
}

.basket_type_closed .basket__good {
  width: 48px;
  height: 55px;
  padding-top: 7px 0;
  margin: 12px auto;
}

.basket_type_closed .basket__good.product {
  padding: 0;
}

.basket_type_closed .basket__good .product__info {
  display: none;
}


.basket_type_closed .basket__good .product__image {
  padding: 0;
  width: 100%;
  height: 100%;
}

.basket_type_closed .basket__good .image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.basket_type_closed .basket__good .product__short-counter {
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  color: white;
  top: 2px;
  right: 1px;
  background-color: #363839;
  border-radius: 50%;
  text-align: center;
  z-index: 90;
}
