.basket_type_closed {
  padding: 10px 0!important;
  background-color: #F05565;
  min-width: 64px;
}

.basket__cart {
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.basket_type_closed__bill {
  font-weight: bold;
  color: white;
  width: 60px;
  margin: 10px auto 30px;
  text-align: center;
}

.basket__item-shortview {
  margin: 12px auto 0;
  padding-top: 7px;
  width: 48px;
  height: 55px;
}
