@use postcss-map {
  basePath: "./theme/";
  maps: [ "fbs-cabinet.yml"]
}
@use postcss-custom-media;

block(modal).mod(theme fbs-cabinet) {
  display: none;
  visibility: hidden;
  z-index: 10;

  /* to prevent clickability and visiblity of internal elements with visiblity: visible */
  margin: -9999px 0 0 -9999px;

  background: rgba(50, 50, 50, 0.2);

  &,
  & .elem(content) {
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out
  }

  .elem(header) {
    align-items: baseline;
    background-color: #eee;

    block(title) {
      padding: 0 .75rem
    }
  }

  .elem(content) {
    padding: 0 map(fbs-cabinet, content-padding);
    background-color: map(fbs-cabinet, color, white);
    background-clip: content-box;
    box-sizing: border-box;
    max-height: 70vh;
    overflow: auto;
  }

  .elem(close) {
    cursor: pointer
  }

  @media (--tablet) {
    .mod(size s) .elem(content) {
      width: calc(320px - 1rem)
    }

    .mod(size m) .elem(content) {
      width: 480px
    }

    .mod(size l) .elem(content) {
      width: 640px
    }
  }

  .mod(js inited) {
    display: block
  }

  .mod(has-animation) {
    animation-name: modal_theme_fbs-cabinet;

    .elem(content) {
      animation-name: modal_theme_fbs-cabinet__content
    }
  }

  .mod(visible) {
    visibility: visible;
    margin: 0;

    &.mod(has-animation) {
      animation-name: modal_theme_fbs-cabinet_visible;

      .elem(content) {
        animation-name: modal_theme_fbs-cabinet_visible__content
      }
    }
  }
}


/* closing modal */
@keyframes modal_theme_fbs-cabinet {
  0% {
    visibility: visible;
    margin: 0;
    opacity: 1
  }

  99% {
    margin: 0
  }

  100% {
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    opacity: 0
  }
}

/* opening modal */
@keyframes modal_theme_fbs-cabinet_visible {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

/* closing modal__content */
@keyframes modal_theme_fbs-cabinet__content {
  0% {
    transform: scale(1)
  }

  100% {
    transform: scale(1.5)
  }
}

/* opening modal__content */
@keyframes modal_theme_fbs-cabinet_visible__content {
  0% {
    transform: scale(.75)
  }

  100% {
    transform: scale(1)
  }
}
