.addon_type_product {
    cursor: pointer;
    width: 260px;
    height: 33px;
    border: 1px solid black;
    display: flex;
}

.addon_type_product__descr {
  display: block;
  width: 100px;
  background-color: black;
  height: 50px;
}
