@use postcss-map {
  basePath: "./theme/";
  maps: ["fbs-cabinet.yml"]
}

.block(message).mod(theme fbs-cabinet) {
  font-size: .75rem;
  padding-top: .5em;

  .mod(invalid) {
    color: map(fbs-cabinet, color, red);
  }
}
