.basket {
  max-width: 352px;
  padding: 10px 0 0!important;
  position: relative;
  transition: all 0.5s;
}


.basket:hover {
  background-color: #363839;
}

.basket .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.basket__close {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 9999;
}


.basket__name {
  color: white;
  transform: rotate(270deg);
  /*letter-spacing: 2px;*/
}

/* Хэдер корзины — поля ввода */
.basket .basket__header {
  height: 300px;
  padding: 35px 25px 15px 25px;
  box-sizing: border-box;
}

.basket .form-field {
  width: 100%;
  margin-bottom: 12px;
  background-color: #3F3F42;
  border-radius: 3px;
  display: flex;
}

.basket .form-field:last-child {
  background-color: transparent;
}

.basket .basket__payment {
  width: 100%;
  color: white;
  font-size: 14px;
  background-color: #3F3F42;
  margin-bottom: 12px;
}

.basket__payment::before {
  content: '';
  display: block;
  width: 40px;
  height: 32px;
  background-image: url(../icon/svg/payment-16.svg);
  visibility: visible!important;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-1px, 0);
  position: absolute;
  left: 0px;
  top: 0px;
}


/* Блок виден, когда пользователь не выбирает время */
.basket .delivery-default {
  width: 100%;
  height: 30px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  display: none;
}

.basket .delivery-default__time {
  display: flex;
}

.basket .delivery-default__current-time {
  color: white;
  font-size: 14px;
  line-height: 32px;
  margin-left: 10px;
}

.basket .delivery-default__choose {
  color: rgb(225, 232, 245, 0.43);
  line-height: 28px;
  font-size: 14px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: 0;
}

/* Блок виден, когда пользователь выбирает время */
.basket .form-field_type_delivery-time {
  background: transparent;
  display: flex;
  /*display: none;*/
}

.basket .delivery__date {
  width: 94px;
}

.basket .delivery__time {
  width: 80px;
}

.basket .delivery__default {
  flex: 1;
  color: rgb(225, 232, 245, 0.43);
  line-height: 28px;
  font-size: 14px;
  font-weight: normal;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: 0;
  text-align: right;
}

.basket .button_theme_25menu::before {
  background: transparent!important;
}

/* Содержимое корзины */
.basket .basket__content {
  flex: 1;
  background-color: #3F3F42;
  padding: 20px 0;
  box-sizing: border-box;
  max-height: 450px;
  overflow: auto;
  min-height: 400px;
}

/* Футер корзины */
.basket .basket__footer {
  height: 170px;
  box-sizing: border-box;
  padding: 15px 30px 8px;
}

.basket .form__result {
  display: flex;
  margin-bottom: 15px;
}

.basket .footer__promocode {
  flex: 1;
  margin-right: 15px;
  margin-left: -5px;
}

.basket .final-price {
  width: 59px;
  height: 24px;
  line-height: 30px;
  color: white;
  font-size: 18px;
}

.basket .basket__buy {
  width: 296px;
  height: 48px;
  background-color: #FF6673;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.basket .basket__agreement {
  width: 296px;
  height: 28px;
  margin-top: 8px;
}


/* Стили для скрытого состояния закрытого стейта корзины */
.basket .basket__cart {
  display: none;
}

.basket_type_closed__bill {
  display: none;
}
