.card_color_gray {

}

.card_color_gray .card__inner {
  color: #F05565;
  background-color: #F2F2F2;;
}


.card_gradient.card_color_gray .card__inner {
  height: 40%;
  background: linear-gradient(to top, rgb(242, 242, 242)70%, rgb(242, 242, 242)100%)!important;
}


.card_full.card_color_gray .card__inner {
  height: 60%;
  background: linear-gradient(to top, rgb(242, 242, 242)40%, rgb(242, 242, 242, 0)100%)!important;
}
