@use postcss-map {
  basePath: "./theme/";
  maps: ["25menu.yml"]
}

block(textarea).mod(theme 25menu) {
  font: inherit;
  line-height: 1.5;
  display: block;
  width: 100%;
  resize: vertical;
  padding: .25em .5em;
  box-sizing: border-box;
  border: 1px solid map(25menu, color, bermuda_dark);

  @each $size in (xs, s, m, l, xl, xxl, xxxl) {
    .mod(size $(size)) {
      font-size: map(25menu, font-size, $(size));
    }
  }

}
