@use postcss-map {
  basePath: "./theme/";
  maps: ["fbs-cabinet.yml"]
}

block(link).mod(theme fbs-cabinet) {
  color: map(fbs-cabinet, color, blue);
  text-decoration: none;

  &:active,
  .mod(state active) {
    color: map(fbs-cabinet, color, red)
  }

  &[disabled],
  .mod(state disabled) {
    color: map(fbs-cabinet, color, red);
    pointer-events: none;
    cursor: not-allowed
  }

  &:focus,
  .mod(state focus) {
    color: map(fbs-cabinet, color, red)
  }

  &:hover,
  .mod(state hover) {
    color: map(fbs-cabinet, color, red)
  }

  .mod(state visited) {
    color: map(fbs-cabinet, color, blue_light-gray);
  }

  .mod(focused) {
    outline: none;
    box-shadow: inset 0 0 0 1px map(fbs-cabinet, color, yellow);
  }
}
