.card {
  height: 336px;
  border: 1px solid #E6E6E6;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
}

.card__header {
  height: 50%;
  overflow: hidden;
}

.card img {
  display: block;
  margin: 0 auto;
}

.description__main-info {
  text-align: center;
  font-weight: normal;
  line-height: 20px;
  font-size: 18px;
  width: 200px;
  margin: 20px auto 0;
}

.description__weight {
  text-align: center;
  font-weight: normal;
  line-height: 20px;
  font-size: 13px;
  margin: 0 auto;
  color: #808080;
}

.card__inner .price {
  margin: 25px auto 40px;
  padding: 8px 12px;
  width: 64px;
  box-sizing: border-box;
  background-color: #363839;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
}
