@use postcss-map {
  basePath: "./theme/";
  maps: ["fbs-cabinet.yml"]
}

block(text).mod(theme fbs-cabinet) {

  @each $size in (xs, s, m, l, xl, xxl) {
    .mod(size $size) {
      font-size: map(fbs-cabinet, font-size, $(size));
    }
  }


  .mod(negative) {
    color: map(fbs-cabinet, color, red)
  }

  .mod(positive) {
    color: map(fbs-cabinet, color, green)
  }

  .mod(inverse) {
    color: map(fbs-cabinet, color, white)
  }

  .mod(nude) {
    color: map(fbs-cabinet, color, bermuda_light)
  }

  .mod(special) {
    color: map(fbs-cabinet, color, yellow)
  }

  .mod(strikeout) {
    color: map(fbs-cabinet, color, grey_dark)
  }

  .mod(script sup) {
    line-height: 1;
    font-size: .7em;
    padding: 0 map(fbs-cabinet, padding-horizontal);
  }

  .mod(script sub) {
    line-height: 1;
    font-size: .7em;
    padding: 0 map(fbs-cabinet, padding-horizontal);
  }
}
