.basket_closingAnimation.basket_type_closed {
  -webkit-animation: slide-out-right 0.5s ease-in-out forwards;
          animation: slide-out-right 0.5s ease-in-out forwards;
  transition: all 0.5s;
}


/* Анимация закрытия корзины */
@-webkit-keyframes slide-out-right {
  0% {
    min-width: 352px;
    background-color: #363839;
  }

  100% {
    min-width: 64px;
/*    background-color: #F05565;*/
  }
}
@keyframes slide-out-right {
  0% {
    min-width: 352px;
    background-color: #363839;
  }

  100% {
    min-width: 64px;
    /*background-color: #F05565;*/
  }
}


.basket_closingAnimation.basket_type_closed * {
  -webkit-animation: fade-out 0.5s ease-in-out forwards;
          animation: fade-out 0.5s ease-in-out forwards;
  transition: opacity 0.5s;
}

/* Анимация появления формы */
@-webkit-keyframes fade-out {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
