.close-btn_type_ingridient {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #808080;
  margin-left: 5px;
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  background-image: url(../../icon/svg/close-popup.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: 10px;
  background-size: 10px;
}
