@use postcss-map {
  basePath: "./theme/";
  maps: ["25menu.yml"]
}
@use postcss-custom-media;

block(navbar).mod(theme 25menu) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;

  .elem(header) {
    order: 3;
    flex-direction: column;
    width: 4em;
    background-color: map(25menu, color, grey_dark);

    @media (--tablet) {
      order: 1;
    }
  }

  .elem(content) {
    order: 2;
    flex: 1;
  }
}
