:block(calendar):mod(theme alfa-on-white) {
  color: rgba(0, 0, 0, .9);
  background: rgba(243, 243, 243, .95);

  :block(calendar):elem(arrow):mod(direction left) {
    background-image: url(base64/arrow_wl.svg)
  }

  :block(calendar):elem(arrow):mod(direction right) {
    background-image: url(base64/arrow_wr.svg)
  }
}

