:block(calendar):mod(theme alfa-on-color) {
  color: rgba(255, 255, 255, .9);
  background-color: rgba(0, 0, 0, .9);

  :block(calendar):elem(arrow):mod(direction left) {
    background-image: url(base64/arrow_cl.svg)
  }

  :block(calendar):elem(arrow):mod(direction right) {
    background-image: url(base64/arrow_cr.svg)
  }
}