@use postcss-map {
  basePath: "./theme/";
  maps: ["fbs-cabinet.yml"]
}

block(paragraph).mod(theme fbs-cabinet) {
  margin: 0;

  & + & {
    margin-top: .5em;
    margin-bottom: 0
  }
  
  .mod(size xs) {
    font-size: map(fbs-cabinet, font-size, xs);
    line-height: map(fbs-cabinet, line-height, xs)
  }

  .mod(size s) {
    font-size: map(fbs-cabinet, font-size, s);
    line-height: map(fbs-cabinet, line-height, s)
  }

  .mod(size m) {
    font-size: map(fbs-cabinet, font-size, m);
    line-height: map(fbs-cabinet, line-height, m)
  }

  .mod(size l) {
    font-size: map(fbs-cabinet, font-size, l);
    line-height: map(fbs-cabinet, line-height, l)
  }

  .mod(size xl) {
    font-size: map(fbs-cabinet, font-size, xl);
    line-height: map(fbs-cabinet, line-height, xl)
  }

  .mod(size xxl) {
    font-size: map(fbs-cabinet, font-size, xxl);
    line-height: map(fbs-cabinet, line-height, xxl)
  }
}

