@use postcss-map {
  basePath: "./theme/";
  maps: ["fbs-cabinet.yml"]
}
@use postcss-custom-media;

block(title).mod(theme fbs-cabinet) {
  display: block;
  font-weight: map(fbs-cabinet, font-weight, semi-bold);
  width: 100%;
  line-height: 1.5;
  /* padding: map(fbs-cabinet, content-padding) 0; */
  margin: 0;
  padding: 0;

  /* h1 */
  .mod(size xxl) {
    font-size: 2.25rem
  }

  /* h2 */
  .mod(size xl) {
    font-size: 2rem
  }

  /* h3 */
  .mod(size l) {
    font-size: 1.75rem
  }

  /* h4 */
  .mod(size m) {
    font-size: 1.5rem
  }

  /* h5 */
  .mod(size s) {
    font-size: 1.25rem
  }

  /* h6 */
  .mod(size xs) {
    font-size: 1rem
  }

  /* TODO: https://webref.ru/css/target */
}
