@use postcss-map {
  basePath: "./theme/";
  maps: ["fbs-cabinet.yml"]
}

.block(media).mod(theme fbs-cabinet) {
  .elem(addon),
  .elem(content) {
    display: block;
  }

  @each $size in (xs, s, m, l, xl, xxl) {
    .mod(size $(size)) {
      font-size: map(fbs-cabinet, font-size, $(size));

      .elem(addon) + .elem(addon),
      .elem(addon) + .elem(content),
      .elem(content) + .elem(content),
      .elem(content) + .elem(addon) {
        margin-left: map(fbs-cabinet, padding-vertical)
      }

      &.mod(column) {
        flex-direction: column;

        .elem(addon) + .elem(addon),
        .elem(addon) + .elem(content),
        .elem(content) + .elem(content),
        .elem(content) + .elem(addon) {
          margin-left: 0;
          margin-top: map(fbs-cabinet, padding-horizontal);
        }
      }
    }
  }


}
