.consist_type_product .ingridients {
  font-size: 14px;
  line-height: 20px;
}

.ingridient__remove {
  display: inline-block;
  margin-left: 5px;
  vertical-align: baseline;
}

.remove__text {
  display: inline-block;
  border-bottom: 1px dotted #808080;
}

.consist__add_button {
  display: flex;
  margin-top: 6px;
}

.consist__add_button button {
  all: initial;
  width: 184px;
  display: flex;
  height: 32px;
  font-family: 'Lab grotesque';
  font-size: 14px;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.consist__add_button .button__text {
  margin-left: 5px!important;
}

.consist__add_button .button_hovered {
  background: none;
}

.consist__add_button .button_pressed::before {
  background: none;
}

.consist__add_button .button_focused-hard.button::before {
  background: none;
  box-shadow: none;
}
