html {
  height: 100vh;
  max-height: 100vh;
}

.page {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.page__aside {
  background-color: #D0D0D0;
  overflow: auto;
  min-width: 144px;
  box-sizing: border-box;
}

.page__basket_order {
  background-color: #F05565;
  min-width: 64px;
}

