@use postcss-map {
  basePath: "./theme/";
  maps: ["fbs-cabinet.yml"]
}

block(hero).mod(theme fbs-cabinet) {
  display: inline-block;
  color: map(fbs-cabinet, color, white);

  .elem(header) {
    align-items: baseline
  }

  @each $size in (xs, s, m, l, xl, xxl, xxxl) {
    .mod(size $(size)) {
      font-size: map(fbs-cabinet, font-size, $(size));
    }
  }

}
