@use postcss-map {
  basePath: "./theme/";
  maps: ["25menu.yml"]
}

block(icon).mod(theme 25menu) {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  padding: .25em;
  max-width: 100%;
  vertical-align: baseline;
  text-transform: none;
  background-size: cover;

  &:empty:after {
    visibility: hidden;
    content: '\00A0';
    padding: 50% 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
    line-height: 0
  }

  @each $size in (xs, s, m, l, xl, xxl, xxxl) {
    .mod(size $(size)) {
      font-size: map(25menu, font-size, $(size));
    }
  }

  .mod(state positive) {
    background-color: map(25menu, color, green_dark)
  }

  .mod(state negative) {
    background-color: map(25menu, color, red);
    color: map(25menu, color, white);
  }

  .mod(bordered) {
    border-width: 2px;
    border-color: map(25menu, color, bermuda_light);
  }
}
