.page-item {
  max-width: 1120px;
  flex: 1;
  width: 100%;
  position: relative;
}

.page-item .header {
  margin-bottom: 36px;
}

.page-item .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

