.slider {
    width: 100%;
    border-radius: 3px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
}


.slider__content {
    width: 100%;
    height: 336px;
    display: flex;
    justify-content: space-between;
}

.slider .card_type_special:hover {
  border: none;
}

.slider__control {
  width: 80px;
  height: 36px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0;
  top: -70px;
}

.slider__control .button {
  margin-right: 5px;
  cursor: pointer;
}

.slider__prev, .slider__next {
  width: 36px;
  height: 36px;
  border: 1px solid #D0D0D0;
  background-color: #F2F2F2;
  border-radius: 50%;
  flex-shrink: 0;
}

.slider__prev::after {
  content: '';
  width: 36px;
  height: 36px;
  display: block;
  background-image: url(../icon/svg/arrow-back-mobile.svg);
  -webkit-background-size: 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  -webkit-background-position: 43% 47%;
  background-position: 43% 47%;
}

.slider__next::after {
  content: '';
  width: 36px;
  height: 36px;
  display: block;
  background-image: url(../icon/svg/arrow-back-mobile.svg);
  -webkit-background-size: 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  -webkit-background-position: 50% 55%;
  background-position: 50% 55%;
  transform: rotate(180deg);
}

.slider__pagination {
  margin: 16px auto 0;
  height: 12px;
  display: flex;
  justify-content: center;
  max-width: 800px;
  text-align: center;
}

.slider__page-item {
    width: 8px;
    height: 8px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: #d8d8d8;
    cursor: pointer;
  }

.slider__page-item_active {
    background-color: black;
  }

.slider__page-item:last-child {
    margin-right: 0;
  }


.slider__page {
  display: none;
}

.slider__page_visible {
  display: flex;
  width: 100%;
}

.slider__page_visible .items__card {
  border: 0!important;
  margin-right: 10px;
}

.slider__page_visible .items__card:last-child {
  margin-right: 0;
}

