.link_dot_red {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
}

.link_dot_green {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: green;
    margin-left: 16px;
}

