.link_dot_red {
    width: 20px;
    height: 20px;
    background-image: url(svg/label_spicy.svg);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.link_dot_green {
    width: 20px;
    height: 20px;
    background-image: url(svg/label_vegetarian.svg);
    margin-left: 16px;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

